<section class="twitter-form">
  <h1>What's on your mind today?</h1>
  <form [formGroup]="twitterForm">
    <label for ="hashtag">I'm looking for</label>
    <input #hashtag type="text" name="hashtag" placeholder="type hashtag here" formControlName="query">
     <span *ngIf="twitterForm.value.query.length > 0">{{twitterForm.value.query}}</span>
    <input type="submit" value="Find Tweets" (click)="submitForm(twitterForm.value.query)">
  </form>
</section>
<section class="container">
  <article *ngFor="let tweet of tweetlist; let i = index" class="tweet-{{i + 1}}">
    <a href="{{tweet.user.url}}" target="_blank">
      <p><strong>{{tweet.text}}</strong></p>
      <div>
        <img src="{{tweet.user.profile_image_url}}" alt="{{tweet.user.name}} profile">
        <span>{{tweet.user.name}}</span>
      </div>
      
    </a>
  </article>
</section>